.App-footer {
  background-color: steelblue;
  height: 50px;
  padding: 5px;
  color: white;

      /**
   * Flexbox properties
   */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.twitter-logo {
    width: 28px;
    height: 28px;
    margin-left: 5px;
}

.linkedin-logo {
    margin-left: 5px;
    height: 28px;
}
