.App-header {
  background-color: steelblue;
  padding: 0px;
  color: white;

    /**
   * Flexbox properties
   */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-header h1 {
    margin: 10px;
}

.App-header img {
    margin-right: 10px;
}

 .App-header nav {
    flex: 1;
    height: 100%;
 }

 .App-header #LogoAndName {
    flex-grow: 1;
    display:flex;
    align-items: center;
    justify-content: center;
 }

.site-navigation ul {
  background: #eee;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

    /**
   * Flexbox properties
   */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-navigation a {
  color: #333;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 28.5px 1rem;
}

.site-navigation a:hover {
  background: #d4d4d4;
}

@media all and (max-width: 600px) {
    /**
    * Small width items
    */
    
  .App-header {
    display: block;
  }
  
    .site-navigation a {
    padding: 1rem;
  }
}

